/* variables */
:root {
  --color-accent: #409eff;
  --color-accent_light: #66b1ff;
  --color-accent_dark: #3a8ee6;

  --color-danger: #e74c3c;
  --color-danger_light: #ec6152;
  --color-danger_dark: #e93521;

  --pending-color: #9b59b6;
  --in-progress-color: #3498db;
  --done-color: #27ae60;
}

/* general */
*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  color: #333333;
  min-height: 100vh;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  color: inherit;
}
input,
textarea {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  color: #333333;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
button {
  user-select: none;
}
.btn {
  color: #333;
  background-color: #fff;
  height: 36px;
  line-height: 1;
  border-radius: 3px;
  font-weight: normal;
  font-size: 16px;
  outline: 0;
  border: 1px solid #dcdfe6;
  cursor: pointer;
  transition: all 0.1s ease;
}
.btn:hover {
  background-color: #ecf5ff;
}
.btn:active {
  color: #3a8ee6;
  border-color: #3a8ee6;
}
.btn_primary {
  color: #fff;
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}
.btn_primary:hover {
  color: #fff;
  background-color: var(--color-accent_light);
  border-color: var(--color-accent_light);
}
.btn_primary:active {
  color: #fff;
  background-color: var(--color-accent_dark);
  border-color: var(--color-accent_dark);
}
.btn_danger {
  color: #fff;
  background-color: var(--color-danger);
  border-color: var(--color-danger);
}
.btn_danger:hover {
  color: #fff;
  background-color: var(--color-danger_light);
  border-color: var(--color-danger_light);
}
.btn_danger:active {
  color: #fff;
  background-color: var(--color-danger_dark);
  border-color: var(--color-danger_dark);
}

/* common */
.page-wrp {
  display: flex;
  width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
}
.container {
  flex: 1;
  width: 50%;
  display: flex;
  align-items: center;
  height: 100vh;
}

/* form container */
.form {
  display: block;
  width: 360px;
  margin: 0 auto;
}
.form-item {
  display: block;
  margin: 0 0 14px;
}
.form-controls {
  display: flex;
  justify-content: flex-end;
}
.form-item__label {
  display: block;
  margin-bottom: 8px;
}
.form__input {
  display: block;
  width: 100%;
  max-width: none;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  padding: 0 8px;
}
.form__item_inptext {
  height: 30px;
  line-height: 30px;
}
.form__input_textarea {
  resize: vertical;
  padding: 8px;
  min-height: 30px;
  max-height: 180px;
}
/* list container */
.list-container {
  min-height: 100vh;
  height: auto;
}
.list__block {
  height: 600px;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  overflow-y: hidden;
}
.list__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  background-color: teal;
  height: 80px;
  width: 100%;
  padding: 12px 24px;
}
.list__body {
  height: calc(100% - 80px);
  overflow-y: auto;
}
.list__body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(49, 47, 47, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.list__body::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.list__body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(43, 41, 41, 0.3);
  background-color: #c8c8c8;
}
.list {
  width: 100%;
  overflow: hidden;
  padding: 12px;
}
.task {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 3px;
  position: relative;
  transition: background-color 0.15s ease;
}
.task:hover {
  background-color: #e3e3e3;
}
.task_pending {
  border-left: 3px solid var(--pending-color);
}
.task_in-progress {
  border-left: 3px solid var(--in-progress-color);
}
.task_done {
  border-left: 3px solid var(--done-color);
}
.task__header {
  color: #999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 8px;
  margin: 0 0 8px;
  border-bottom: 1px solid #d1d1d1;
}
.task__info {
  padding: 0 8px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task__name {
  color: #333333;
}
.task__created {
  font-size: 13px;
}
.task__controls {
  display: flex;
}
.task__btn {
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 8px;
}
.task__btn-edit {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' fill='%23ffffff' x='0px' y='0px' viewBox='0 0 469.331 469.331' style='enable-background:new 0 0 469.331 469.331;' xml:space='preserve'%3E%3Cpath d='M438.931,30.403c-40.4-40.5-106.1-40.5-146.5,0l-268.6,268.5c-2.1,2.1-3.4,4.8-3.8,7.7l-19.9,147.4 c-0.6,4.2,0.9,8.4,3.8,11.3c2.5,2.5,6,4,9.5,4c0.6,0,1.2,0,1.8-0.1l88.8-12c7.4-1,12.6-7.8,11.6-15.2c-1-7.4-7.8-12.6-15.2-11.6 l-71.2,9.6l13.9-102.8l108.2,108.2c2.5,2.5,6,4,9.5,4s7-1.4,9.5-4l268.6-268.5c19.6-19.6,30.4-45.6,30.4-73.3 S458.531,49.903,438.931,30.403z M297.631,63.403l45.1,45.1l-245.1,245.1l-45.1-45.1L297.631,63.403z M160.931,416.803l-44.1-44.1 l245.1-245.1l44.1,44.1L160.931,416.803z M424.831,152.403l-107.9-107.9c13.7-11.3,30.8-17.5,48.8-17.5c20.5,0,39.7,8,54.2,22.4 s22.4,33.7,22.4,54.2C442.331,121.703,436.131,138.703,424.831,152.403z'/%3E%3C/svg%3E");
  background-size: 65%;
}
.task__btn-delete {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='427pt' viewBox='-40 0 427 427.00131' fill='%23ffffff' width='427pt'%3E%3Cpath d='m232.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0'/%3E%3Cpath d='m114.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0'/%3E%3Cpath d='m28.398438 127.121094v246.378906c0 14.5625 5.339843 28.238281 14.667968 38.050781 9.285156 9.839844 22.207032 15.425781 35.730469 15.449219h189.203125c13.527344-.023438 26.449219-5.609375 35.730469-15.449219 9.328125-9.8125 14.667969-23.488281 14.667969-38.050781v-246.378906c18.542968-4.921875 30.558593-22.835938 28.078124-41.863282-2.484374-19.023437-18.691406-33.253906-37.878906-33.257812h-51.199218v-12.5c.058593-10.511719-4.097657-20.605469-11.539063-28.03125-7.441406-7.421875-17.550781-11.5546875-28.0625-11.46875h-88.796875c-10.511719-.0859375-20.621094 4.046875-28.0625 11.46875-7.441406 7.425781-11.597656 17.519531-11.539062 28.03125v12.5h-51.199219c-19.1875.003906-35.394531 14.234375-37.878907 33.257812-2.480468 19.027344 9.535157 36.941407 28.078126 41.863282zm239.601562 279.878906h-189.203125c-17.097656 0-30.398437-14.6875-30.398437-33.5v-245.5h250v245.5c0 18.8125-13.300782 33.5-30.398438 33.5zm-158.601562-367.5c-.066407-5.207031 1.980468-10.21875 5.675781-13.894531 3.691406-3.675781 8.714843-5.695313 13.925781-5.605469h88.796875c5.210937-.089844 10.234375 1.929688 13.925781 5.605469 3.695313 3.671875 5.742188 8.6875 5.675782 13.894531v12.5h-128zm-71.199219 32.5h270.398437c9.941406 0 18 8.058594 18 18s-8.058594 18-18 18h-270.398437c-9.941407 0-18-8.058594-18-18s8.058593-18 18-18zm0 0'/%3E%3Cpath d='m173.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0'/%3E%3C/svg%3E");
  background-size: 70%;
}
.task__content {
  word-break: break-all;
  padding: 8px;
}
.task__status {
  display: inline-block;
  width: 120px;
  text-align: center;
  position: relative;
  background-color: transparent;
  border-radius: 3px;
  transition: all 0.15s ease;
  padding: 4px 8px;
  cursor: pointer;
  white-space: nowrap;
}
.task__status:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border: 4px solid;
  border-color: teal transparent transparent transparent;
  transition: all 0.1s ease;
  margin: 0 0 -2px 3px;
}
.task__status:hover {
  background-color: #fff;
}
.task__status:hover:after {
  animation: bounce 0.5s ease;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
.status__dropdown {
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: transparent;
  width: 100%;
  z-index: 1;
  max-height: 0;
  transition: all 0.15s ease;
  overflow: hidden;
  border-radius: 3px;
  text-align: left;
  font-size: 15px;
  border: 1px solid #e1e1e1;
}
.status__option {
  height: 2em;
  padding: 4px 8px;
  background-color: #fff;
  transition: all 0.1s ease;
  white-space: nowrap;
}
.status__option:hover {
  background-color: var(--color-accent_light);
  color: #fff;
}
.status__option:first-child {
  border-radius: 3px 3px 0 0;
}
.status__option:last-child {
  border-radius: 0 0 3px 3px;
}
.task__status:hover .status__dropdown {
  opacity: 1;
  padding-top: 5px;
  max-height: calc(6em + 5px);
}
.task__was-edited {
  font-size: 13px;
  font-style: italic;
}

.task__actions {
  display: flex;
  width: 64px;
  justify-content: flex-end;
}

/* editing-mode */
.form-edit-wrp {
  display: none;
  opacity: 0;
  transition: opacity 1s ease;
}
body.editing-mode {
  overflow: hidden;
  position: relative;
}
body.editing-mode .form-edit-wrp {
  display: block;
  opacity: 1;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.33);
}
.editing-form {
  width: 400px;
  background-color: #fff;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 40px 26px;
}
.textarea_edit {
  resize: vertical;
  min-height: 126px;
  max-height: 70vh;
}
.form-controls_edit .btn {
  margin-left: 15px;
}

/* media queries */
